@mixin col($grid, $path, $margin) {
	margin-left: #{$margin + px};
	margin-right: #{$margin + px};
	width: calc(100% / #{$grid} * #{$path} - #{$margin * 2+px});
	float: left;
}

@mixin margin-row($top, $side, $bottom) {
	margin: #{$top + px} #{ - ($side * 2) + px} #{$bottom + px};
}