<template>
	<div class="mainPage">
		<div class="mainPage__links">
			<a href="#" 
				class="mainPage__configBtn"
				@click.prevent="openConfig('ignore')"
			>
				<img src="../assets/img/ban.svg" 
					alt="Open ignore config" 
					class="mainPage__open"
				>
			</a>
			<a href="#" 
				class="mainPage__configBtn"
				@click.prevent="openConfig('message')"
			>
				<img src="../assets/img/settings.svg" 
					alt="Open message config" 
					class="mainPage__open"
				>
			</a>
		</div>
		<div 
			class="mainPage__socket"
			v-if="isDebug && (socketState.state === 'preloader' || getSocketURL.length === 0)"
		>
			Expect the socket URL
		</div>
		<template v-else>
			<messageList></messageList>
		</template>
		<div class="mainPage__config"
			v-show="openConfigName==='message'"
		>
			<messageConfig
				@close=closeConfig($event);
			></messageConfig> 
		</div>
		<div class="mainPage__config"
			v-show="openConfigName==='ignore'"
		>
			<ignoreConfig
				@close=closeConfig($event);
			></ignoreConfig>
		</div>
	</div>

</template>

<script>
	import {mapGetters} from 'vuex';
    import {mapActions} from 'vuex';
    
	import messageList from '../components/MessageList.vue';
	import messageConfig from '../components/MessageConfig.vue';
	import ignoreConfig from '../components/IgnoreConfig.vue';
	import formSocket from '../components/AppForm.vue';

	export default {
		name: "Main",
		components: {
			messageList,
			formSocket,
			messageConfig,
			ignoreConfig
		},
		created() {
			// Check debug mode
		    if(!this.isDebug) {
                this.socketCreate(this.getSocketURL);
			} else {
				// Check debug url in LocalStorage in debug mode
                if(localStorage.getItem('debug_url')) {
					this.changeSocketURL(localStorage.getItem('debug_url'));
					this.socketCreate(localStorage.getItem('debug_url'));
					this.state = 'message';
				} else {
					this.state = 'socket';
				}

				// Check dwchecker_url url in LocalStorage in debug mode
				if(localStorage.getItem('dwchecker_url')) {
					this.changeDWCheckerURL(localStorage.getItem('dwchecker_url'));
				}

				// Check balancer_url url in LocalStorage in debug mode
				if(localStorage.getItem('balancer_url')) {
					this.changeBalancerURL(localStorage.getItem('balancer_url'));
				}

				// Check library_url url in LocalStorage in debug mode
				if(localStorage.getItem('library_url')) {
					this.changeLibraryURL(localStorage.getItem('library_url'));
				}
			}
			this.requestLibrary();
			this.setIgnoreMessageList();
		},
		data() {
			return {
				state: 'message',
				openConfigName: ''
			}
		},
		methods: {
		    ...mapActions('messages', {
				socketCreate: 'socketCreate',
				setIgnoreMessageList: 'setIgnoreMessageList',
				requestLibrary: 'requestLibrary'
			}),
			...mapActions('global', {
				changeSocketURL: 'changeSocketURL',
				changeDWCheckerURL: 'changeDWCheckerURL',
				changeBalancerURL: 'changeBalancerURL',
				changeLibraryURL: 'changeLibraryURL'
			}),
			openConfig(e) {
				this.openConfigName = e;
			},
			closeConfig(e) {
				this.openConfigName = '';
			}
		},
		computed: {
			...mapGetters('global', {
				isDebug: 'getDebug',
				getSocketURL: 'getSocketURL'
			}),
			...mapGetters('messages', {
				socketState: 'socketState'
			})
		}
	}
</script>

<style scoped lang="scss">
	.mainPage {
		&__socket {
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0, -50%);
			@include col($grid, 8, $offset);
			text-align: center;
		}
		&__config {
			@include col($grid, 3, $offset);
			margin-top: 0;
			margin-right: 0;
			min-height: 100vh;
			position: fixed;
			right: 0;
			top: 0;
			z-index: 5;
			background: $mainbg;
			border-left: 1px solid $blue;
			max-height: 100vh;
    		overflow: auto;
			@media (max-width: 1366px) {
				margin-top: $margin-top-mobile + $offset;
				min-height: calc(100vh - 70px);
				@include col($grid, 3, $offset);
			}
		}
		&__links {
			position: fixed;
			right: 5px;
			top: 5px;
			display: flex;
			z-index: 5;
		}
		&__configBtn {
			height: 25px;
			width: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 5;
			margin-left: $baseoffset;
		}
		&__open {
			width: 25px;
			height: 25px;
			transition: transform .4s ease-in;
			&:hover {
				transform: rotate(90deg);
				transform-origin: 50% 50%;
			}
		}
	}
</style>