<template>
	<form
		class="form"
		ref='form'
		@submit.prevent="submitForm"
	>
		<fieldset 
				class="form__fieldset"	
			>
			<div class="row">
				<div class="form__field" 
					v-for="(input, i) in options"
					:key=input.name 
					:class=setWidthClassInput(input.col)
				>
					<label 
						:for= input.name
						class='form__label'
						:key="`label-${input.name}`"
					>
					<span v-html=input.label></span>
					</label>
					<input
						:key="`input-${input.name}`"
						class="form__input"
						:type = input.type
						:name = input.name
						:value = input.value
						:id = input.name
						:ref = input.name
						:step = input.step
						@keyup = "changeValue($event, i, input.name)"
					>
					<div class="form__mess"
						v-show=input.mess
						:key="`mess-${input.name}`"
					>
						{{input.mess}}
					</div>
				</div>
				<input type="submit" style="position: absolute; left: -9999px"/>
				<div class="form__note"
					v-if="message && message.text"
					:class="`form__note-${message.class}`"
				>
					{{message.text}}
				</div>
			</div>
			
		</fieldset>

	</form>
</template>

<script>
    export default {
		name: "AppForm",
		props: {
			options: {
				type: Array,
				required: true
			},
			clear: {
				type: Boolean,
				default: false
			},
			message: {
				type: Object,
				required: false
			}
			// name: {
			// 	type: String,
			// 	required: true
			// },
			// label: {
			// 	type: String,
			// 	required: true
			// },
			// type: {
			// 	type: String,
			// 	required: true
			// },
			// step: {
			// 	type: Number,
			// 	required: false
			// },
			// value: {
			// 	required: false
			// },
			// focus: {
			// 	type: Boolean,
			// 	required: false
			// }
		},
		data() {
			return {
				inputValue: {}
			}	
		},
		mounted() {
            this.options.forEach((item,i) => {
                if(item.focus) {
                    this.$refs[item.name].focus()
                }
                this.$set(this.inputValue, item.name, item.value)
            })
			
		},
		methods: {
            changeValue(e, i, name) {
				this.$set(this.inputValue, name, e.target.value);
			},
			submitForm() {
				this.$emit('form-submit', this.inputValue);
				if(this.clear) {
					this.$refs.form.reset();
					this.$refs.form.getElementsByTagName('INPUT')[0].focus();
				}
			},
			setWidthClassInput(col) {
				let widthClass;
				switch(col) {
					case "2":
						widthClass = 'form__field-50';
						break;
					default: 
						widthClass = 'form__field-100';
						break
				}
				return widthClass; 
			}
		}
    }
</script>

<style lang="scss">
	.form {
		width: 100%;
		padding: 0 $baseoffset;
		&__fieldset {
			border: none;
			margin: 0;
			padding: 0;
		}
		&__field {
			&.form__field-50 {
				@include col($grid, 6, $offset);
			}
			&.form__field-100 {
				@include col($grid, 12, $offset);
			}
		}
		&__input {
			background: $lblue;
			border: 1px solid $blue;
			width: 100%;
			padding: 10px 15px;
			color: $white;
		}
		&__label {
			width: 100%;
    		display: inline-block;
			margin-bottom: 5px;
			i {
				color: $dgrey;
				font-size: 12px;
			}
		}
		&__note {
			@include col($grid, 12, $offset);
			&-error {
				color: $red;
				font-size: 12px;
				margin-top: $baseoffset;
			}
		}
	}
</style>