<template>
	<div class="header">
		<div v-if="socketState.state != 'ready'" class="socket-state">
			<div class="socket-state__message">
				{{ socketState.message }}
			</div>
		</div>
		<template v-else>
			<div class="header__title">
				{{getUpdater.name}} :
			</div>
			<a
				class="header__item"
				v-for="item in getUpdater.exchanges"
				:class="getColor(item.time)"
				:href="item.link"
				target="_blank"
				:key=item.name
			>
				<strong>{{item.name}}: </strong><span>{{item.time}} m</span>
			</a>
		</template>
		
	</div>
</template>

<script>
    import {mapGetters} from 'vuex';
	import {mapActions} from 'vuex';
	import axios from 'axios';

    export default {
        name: "AppHeader",
		created() {
            let messageSocket = new WebSocket('ws://quoshkqua.com:5679/');
            messageSocket.onmessage = (data) => this.socketMessage(data);
            messageSocket.onopen = (e) => this.socketOpen(e);
            messageSocket.onerror = (e) => this.socketMessage(e);
			messageSocket.onclose = (e) => this.socketClose(e);
		},
		data() {
            return {
			}
		},
        computed: {
            ...mapGetters('updater',{
                getUpdater: 'getActiveUpdater',
                socketState: 'socketState',
                loadDone: 'loadDone'
            })
        },
		methods: {
            ...mapActions('updater', {
                socketMessage: 'socketMessage',
                socketOpen: 'socketOpen',
                socketError: 'socketError',
                socketClose: 'socketClose'
            }),
            getColor(time) {
                if(time <= 5) {
                    return 'header__item-green'
				} else if (time > 5 && time <= 15) {
                    return 'header__item-yellow'
				} else {
                    return 'header__item-red'
				}
			}
		}
    }
</script>

<style scoped lang="scss">
	.header {
		position: fixed;
		width: 100%;
		height: 35px;
		background: $blue;
		color: $white;
		padding: $baseoffset;
		z-index: 5;
		top: 0;
		padding-right: 70px;
        @media (max-width: 1366px) {
			height: 70px;
		}
		&__title {
			display: inline-block;
			font-weight: 600;
			text-transform: uppercase;
		}
		&__item {
			border-radius: 10px;
			display: inline-block;
			margin: 0 $offset/2 + px;
			padding: 5px 10px;
			text-decoration: none;
			transition: .2s linear;
			font-size: 12px;
			&:hover {
				opacity: 0.8;
			}
			&-green {
				background: green;
			}
			&-yellow {
				background: $yellow;
			}
			&-red {
				background: $redu;
			}
			strong {
				font-weight: 600;
			}
		}
		.socket-state__message {
			padding: $baseoffset;
		}
	}
</style>