<template>
    <div class="config ignore">
        <a href="#" 
			class="config__close"
			@click.prevent="hideConfig"
		>
			<img src="../assets/img/close.svg" 
                alt="Close message config"
            >
		</a>
        
        <h2 class="config__title">
            Ignore
        </h2>
        <template>
            <div class="config__block">
                <formInput
                    :options="ignoreConfigForm"
                    :message="message"
                    :clear=true
                    @form-submit="addToIgnore($event)"
                ></formInput>
            </div>
        </template>
        <hr/>
        <div class="config__block">
            <table class="ignore__table">
                <template 
                    v-for="(exchanges, coin) in getIgnoreMessagesList"
                >
                    <tr
                        v-for="exchange in exchanges"
                        :key="`${coin}/${exchange}`"
                    >
                        <td>
                            {{coin}}
                        </td>
                        <td>
                            {{exchange}}
                        </td>
                        <td>
                            <button class='ignore__del'
                                @click.prevent="moveMessage({coin: coin.toUpperCase(), exchange, action: 'default'})"
                            >
                                <img src="../assets/img/close.svg" 
                                    alt="Delete from ignore list" 
                                    class="ignore__del_img"
                                >
                            </button>
                        </td>
                    </tr>

                </template>
                
            </table>
        </div>
    </div>
</template>

<script>
    import formInput from '../components/AppForm.vue';

    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';

    export default {
        data() {
            return {
                ignoreConfigForm: [
                    {
                        name: 'ignoreCoin',
                        label: 'Coin',
                        type: 'text',
                        col: '2',
                        value: ''
                    },
                    {
                        name: 'ignoreExchange',
                        label: 'Exchange',
                        type: 'text',
                        col: '2',
                        value: ''
                    }
                ],
                message: {
                    class: '', 
                    text: ''
                }
            }
        },
        components: {
            formInput
        },
        mounted() {
            
        },
        computed: {
            ...mapGetters('messages', {
                getIgnoreMessagesList: 'getIgnoreMessagesList'
            })
        },
        methods: {
            ...mapActions('messages', {
                moveMessage: 'moveMessage'
            }),
            addToIgnore(e) {
                let coin =  e.ignoreCoin.toUpperCase(),
                    exchange = e.ignoreExchange;
                let checkIssetInIgnore = false;

                if(this.getIgnoreMessagesList[coin]) {
                    checkIssetInIgnore = this.getIgnoreMessagesList[coin].some(item=>{
                        if(item.toLowerCase() === exchange.toLowerCase()) {
                            return true;
                        }
                    })
                }

                if(checkIssetInIgnore) {
                    this.message.text = `${coin}: ${exchange} is already exist in ignore.`;
                    this.message.class = 'error';
                } else {
                    this.moveMessage({
                        coin: e.ignoreCoin.toUpperCase(),
                        exchange: e.ignoreExchange,
                        action: 'ignore'
                    });
                }
            },
            hideConfig() {
                this.$emit('close', 'message');
            }
        }
    }
</script>

<style scoped lang="scss">
    .ignore {
        &__table {
            border-collapse: collapse;
            width: 100%;
            tr {
                &:hover {
                    background: $lblue;
                }
            }
            td {
                border: 1px solid $blue;
                //width: 40%;
                padding: $baseoffset;
                border-spacing: 0;
                line-height: 0;
                &:last-child {
                    width: 30px;
                }
            }
        }
        &__del {
            background: $lred;
            width: 20px;
            height: 20px;
            border: 0;
            padding: 2px;
            border-radius: 2px;
            cursor: pointer;
            &:hover {
                background: $red;
            }
            img {
                width: 100%;
                height: 100%;
                display: inline-block;
            }
        }
    }
</style>