<template>
    <div class="messageList">
        <div class="container">
            <div class="row">
                <div v-if="socketState.state === 'preloader'"
                        class="socket-state">
                    <div v-if="!loadDone" class="socket-state__loader">
                        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                            width="40px" height="40px" viewBox="0 0 50 50" style="enablbackground:new 0 0 50 50;" xml:space="preserve">
                        <path fill="#7685a9" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                        <animateTransform attributeType="xml"
                            attributeName="transform"
                            type="rotate"
                            from="0 25 25"
                            to="360 25 25"
                            dur="0.6s"
                            repeatCount="indefinite"/>
                        </path>
                        </svg>
                    </div>
                    <div class="socket-state__message">
                        {{ socketState.message }}
                    </div>
                </div>
                <template v-else>
                    <div class="messageList__top">
                        <div 
                            class="messageList__col" 
                            name="update" 
                            v-for="col in colCount"
                            :key="`messageCol-${col}`"    
                        >
                            <message
                                    v-for="mess in getCol(col-1)"
                                    :item=mess
                                    :key=mess.id
                                    class="item"
                            >
                            </message>
                        </div>
                    </div>
                    <div class="messageList__bottom">
                        <div 
                            class="messageList__col" 
                            name="update" 
                            v-for="col in colCount"
                            :key="`messageCol-${col}`"    
                        >
                            <message
                                    v-for = "mess in getCol(col-1, true)"
                                    :item = mess
                                    :ignore = true
                                    :key = mess.id
                                    class = "item"
                            >
                            </message>
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>

</template>

<script>
	import {mapGetters} from 'vuex';
	import {mapActions} from 'vuex';

	import message from '../components/message.vue';

	export default {
		name: "MessageList",
		components: {
			message
		},
		computed: {
			...mapGetters('messages', {
                    socketState: 'socketState',
                    loadDone: 'loadDone',
                    getMessages: 'getMessages',
                    getCol: 'getCol',
                    firstCol: 'getFirstCol',
                    secondCol: 'getSecondCol',
                    thirdCol: 'getThirdCol',
                    fourthCol: 'getFourthCol',
                    bottomCol: 'getBottom'
                }
            )
		},
		data() {
		    return {
                state: 'message',
                colCount: 4
            }
		}
	}
</script>

<style scoped lang="scss">
	.socket-state {
		color: #7685a9;
		text-align: center;
		position: fixed;
		top:50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.message {
		border: 2px solid $blue;
		margin-bottom: $baseoffset;
		position: relative;
	}
	.messageList {
        //@include col($grid, 8, $offset);
        width: 100%;
        margin-top: $margin-top;
        padding: 0 $baseoffset ;
        @media(max-width: 1366px) {
            margin-top: $margin-top-mobile;
        }
		&__col {
            position: relative;
            margin-top: $baseoffset;
            margin-bottom: $baseoffset;
			@include col($grid, 3, $offset);
		}
		&__full {
			.item {
				@include col($grid, 3, $offset);
				float: none;
				display: inline-block;
				vertical-align: top;
			}
		}
		&__top {
			border-bottom: 2px solid;
			min-height: 90vh;
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
		&__bottom {
			padding: $baseoffset 0;
			&:after {
				content: "";
				display: table;
				clear: both;
			}
		}
	}
</style>

