<template>
    <div class="message col">
            <div class="message__header">
                <i>{{libraryInfo.info}}</i>
                <a
                    :class="libraryInfo.url ? '' : 'is-disabled'"
                    :href="libraryInfo.url"
                    target="_blank"
                    class="message__header__link"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve" width="512px" height="512px" class=""><g><g><g><path d="M498.791,161.127c-17.545-17.546-46.094-17.545-63.645,0.004c-5.398,5.403-39.863,39.896-45.128,45.166V87.426 c0-12.02-4.681-23.32-13.181-31.819L334.412,13.18C325.913,4.68,314.612,0,302.592,0H45.018c-24.813,0-45,20.187-45,45v422 c0,24.813,20.187,45,45,45h300c24.813,0,45-20.187,45-45V333.631L498.79,224.767C516.377,207.181,516.381,178.715,498.791,161.127 z M300.019,30c2.834,0,8.295-0.491,13.18,4.393l42.426,42.427c4.76,4.761,4.394,9.978,4.394,13.18h-60V30z M360.018,467 c0,8.271-6.728,15-15,15h-300c-8.271,0-15-6.729-15-15V45c0-8.271,6.729-15,15-15h225v75c0,8.284,6.716,15,15,15h75v116.323 c0,0-44.254,44.292-44.256,44.293l-21.203,21.204c-1.646,1.646-2.888,3.654-3.624,5.863l-21.214,63.64 c-1.797,5.39-0.394,11.333,3.624,15.35c4.023,4.023,9.968,5.419,15.35,3.624l63.64-21.213c2.209-0.736,4.217-1.977,5.863-3.624 l1.82-1.82V467z M326.378,312.427l21.213,21.213l-8.103,8.103l-31.819,10.606l10.606-31.82L326.378,312.427z M368.8,312.422 l-21.213-21.213c11.296-11.305,61.465-61.517,72.105-72.166l21.213,21.213L368.8,312.422z M477.573,203.558l-15.463,15.476 l-21.213-21.213l15.468-15.481c5.852-5.849,15.366-5.848,21.214,0C483.426,188.19,483.457,197.673,477.573,203.558z" fill="#FFFFFF"/></g></g><g><g><path d="M285.018,150h-210c-8.284,0-15,6.716-15,15s6.716,15,15,15h210c8.284,0,15-6.716,15-15S293.302,150,285.018,150z" fill="#FFFFFF"/></g></g><g><g><path d="M225.018,210h-150c-8.284,0-15,6.716-15,15s6.716,15,15,15h150c8.284,0,15-6.716,15-15S233.302,210,225.018,210z" fill="#FFFFFF"/></g></g><g><g><path d="M225.018,270h-150c-8.284,0-15,6.716-15,15s6.716,15,15,15h150c8.284,0,15-6.716,15-15S233.302,270,225.018,270z" fill="#FFFFFF"/></g></g><g><g><path d="M225.018,330h-150c-8.284,0-15,6.716-15,15s6.716,15,15,15h150c8.284,0,15-6.716,15-15S233.302,330,225.018,330z" fill="#FFFFFF"/></g></g><g><g><path d="M285.018,422h-90c-8.284,0-15,6.716-15,15s6.716,15,15,15h90c8.284,0,15-6.716,15-15S293.302,422,285.018,422z" fill="#FFFFFF"/></g></g></g> </svg>
                </a>
            </div>

            <div class="message__body"
                :class="startAnimate"
            >
                <div v-for="pair in getDataForShow"
                     class="message__subject subject"
                     :class="profitClass(pair.data.money, pair.data.volume)"
                     :key=pair.id
                >
                    <div class="subject__header">
                        <div class="subject__info"
                            @click = "toggleShowMore()"
                        >
                            <strong>{{pair.data.markets_pair}}</strong>
                            <strong>{{timeReFormat(pair.timestamp)}}</strong>
                            <i v-if="getBalancerCache(pair.data.buy_exchange, item.coin).error">
                                ---
                            </i>
                            <i v-else>
                                {{getBalancerCache(pair.data.buy_exchange, item.coin).LabusBalance}}
                            </i>
                        </div>
                        <a class="subject__anticalc"
                            :href="`http://quoshkqua.com:8000/coin/${item.coin}?active=${pair.data.buy_exchange},${pair.data.sell_exchange}`"
                            target="_blank">
                            {{item.coin}}
                        </a>
                    </div>
                    <div class="subject__body">
                        <div class="subject__block subject__block-links">
                            <div class="subject__item">
                                <span class="subject__item__key">
                                    Buy:
                                </span>
                                <span class="subject__item__checker">
                                    <strong :class="dwCheckerClass(getDWCacheDeposit(pair.data.buy_exchange, item.coin))">D</strong>
                                    <strong :class="dwCheckerClass(getDWCacheWithdrawal(pair.data.buy_exchange, item.coin))">W</strong>
                                </span>
                                <a href="#" 
                                    class="subject__item__ignore"
                                    v-if=!ignore
                                    @click.prevent="moveMessage({coin:item.coin, exchange:pair.data.buy_exchange, action: 'ignore'})"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 439.963 439.963" style="enable-background:new 0 0 439.963 439.963;" xml:space="preserve"><g><g>
                                        <path d="M421.836,134.33c-11.611-27.121-27.172-50.487-46.686-70.089c-19.502-19.604-42.824-35.215-69.948-46.825   C278.088,5.806,249.674,0,219.985,0c-29.692,0-58.101,5.809-85.224,17.416c-27.124,11.61-50.441,27.218-69.949,46.825   C45.303,83.843,29.74,107.209,18.13,134.33C6.521,161.453,0.715,189.958,0.715,219.838c0,29.881,5.806,58.432,17.415,85.648   c11.613,27.223,27.172,50.627,46.682,70.236c19.508,19.605,42.825,35.217,69.949,46.818c27.123,11.615,55.531,17.422,85.224,17.422   c29.693,0,58.103-5.807,85.217-17.422c27.124-11.607,50.446-27.213,69.948-46.818c19.514-19.609,35.074-43.014,46.686-70.236   c11.611-27.217,17.412-55.768,17.412-85.648C439.244,189.958,433.447,161.453,421.836,134.33z M90.078,305.198   c-16.94-26.066-25.41-54.532-25.406-85.364c0-28.167,6.949-54.243,20.843-78.227c13.891-23.982,32.738-42.919,56.527-56.818   c23.791-13.894,49.772-20.839,77.943-20.839c31.411,0,59.952,8.661,85.652,25.981L90.078,305.198z M363.013,280.511   c-8.187,19.318-19.219,35.927-33.113,49.823c-13.9,13.895-30.409,24.982-49.539,33.254c-19.13,8.277-39.259,12.422-60.382,12.422   c-30.452,0-58.717-8.466-84.794-25.413l215.273-214.985c16.566,25.505,24.838,53.581,24.838,84.223   C375.291,240.965,371.198,261.187,363.013,280.511z" data-original="#000000" class="active-path" data-old_color="#FF0101" fill="#FF0000"/></g></g>
                                    </svg>                                
                                </a>
                                <span class="subject__item__value">
                                    
                                    <a
                                            class="subject__link subject__link-buy"
                                            :href="pair.data.buy_url"
                                            target="_blank"
                                    >
                                        {{cutURL(pair.data.buy_url)}}
                                    </a>
                                </span>
                            </div>

                            <div class="subject__item">
                                <span class="subject__item__key">
                                    Sell:
                                </span>
                                <span class="subject__item__checker">
                                    <strong :class="dwCheckerClass(getDWCacheDeposit(pair.data.sell_exchange, item.coin))">D</strong>
                                    <strong :class="dwCheckerClass(getDWCacheWithdrawal(pair.data.sell_exchange, item.coin))">W</strong>
                                </span>
                                <a href="#" 
                                    class="subject__item__ignore"
                                    v-if=!ignore
                                    @click.prevent="moveMessage({coin:item.coin, exchange:pair.data.sell_exchange, action: 'ignore'})"
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 439.963 439.963" style="enable-background:new 0 0 439.963 439.963;" xml:space="preserve"><g><g>
                                        <path d="M421.836,134.33c-11.611-27.121-27.172-50.487-46.686-70.089c-19.502-19.604-42.824-35.215-69.948-46.825   C278.088,5.806,249.674,0,219.985,0c-29.692,0-58.101,5.809-85.224,17.416c-27.124,11.61-50.441,27.218-69.949,46.825   C45.303,83.843,29.74,107.209,18.13,134.33C6.521,161.453,0.715,189.958,0.715,219.838c0,29.881,5.806,58.432,17.415,85.648   c11.613,27.223,27.172,50.627,46.682,70.236c19.508,19.605,42.825,35.217,69.949,46.818c27.123,11.615,55.531,17.422,85.224,17.422   c29.693,0,58.103-5.807,85.217-17.422c27.124-11.607,50.446-27.213,69.948-46.818c19.514-19.609,35.074-43.014,46.686-70.236   c11.611-27.217,17.412-55.768,17.412-85.648C439.244,189.958,433.447,161.453,421.836,134.33z M90.078,305.198   c-16.94-26.066-25.41-54.532-25.406-85.364c0-28.167,6.949-54.243,20.843-78.227c13.891-23.982,32.738-42.919,56.527-56.818   c23.791-13.894,49.772-20.839,77.943-20.839c31.411,0,59.952,8.661,85.652,25.981L90.078,305.198z M363.013,280.511   c-8.187,19.318-19.219,35.927-33.113,49.823c-13.9,13.895-30.409,24.982-49.539,33.254c-19.13,8.277-39.259,12.422-60.382,12.422   c-30.452,0-58.717-8.466-84.794-25.413l215.273-214.985c16.566,25.505,24.838,53.581,24.838,84.223   C375.291,240.965,371.198,261.187,363.013,280.511z" data-original="#000000" class="active-path" data-old_color="#FF0101" fill="#FF0000"/></g></g>
                                    </svg>                                
                                </a>
                                <span class="subject__item__value">
                                    <a
                                            class="subject__link subject__link-sell"
                                            :href="pair.data.sell_url"
                                            target="_blank"
                                    >
                                        {{cutURL(pair.data.sell_url)}}
                                    </a>
                                </span>
                            </div>
                        </div>

                        <div class="subject__block subject__block-volume">
                            <div class="subject__item">
                                <span class="subject__item__key">
                                    Volume:
                                </span>
                                <span class="subject__item__value">
                                    {{fixedNumber(pair.data.volume, 5)}}  {{pair.currency}}
                                </span>
                                <span class="subject__item__key subject__item__key_long">
                                    Safe:
                                </span>
                                <span class="subject__item__value">
                                    {{fixedNumber(pair.data.sell_volume, 2)}}  {{pair.currency}}
                                </span>
                            </div>
                            <div class="subject__item">
                                <span class="subject__item__key">
                                    Money:
                                </span>
                                <span class="subject__item__value">
                                    {{fixedNumber(pair.data.money, 5)}}  {{pair.currency}}
                                </span>
                            </div>
                        </div>

                        <div class="subject__block subject__block-price">
                            <table class="subject__table">
                                <tr>
                                    <td class="subject__item__key">
                                        Buy:
                                    </td>
                                    <td>
                                        <strong class="subject__item__strong">{{pair.data.ask_count}}</strong>
                                    </td>
                                    <td>
                                        <strong class="subject__item__strong">ETH:</strong>
                                        <span class="subject__item__span">{{fixedETH(pair.data.buy_price.ETH)}}</span>
                                    </td>
                                    <td>
                                        <strong class="subject__item__strong">USDT:</strong>
                                        <span class="subject__item__span">{{fixedNumber(pair.data.buy_price.USDT, 5)}}</span>
                                    </td>
                                    <td>
                                        <strong class="subject__item__strong">BTC:</strong>
                                        <span class="subject__item__span">{{fixedBTC(pair.data.buy_price.BTC)}}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="subject__item__key">
                                        Sell:
                                    </td>
                                    <td>
                                        <strong class="subject__item__strong">{{pair.data.bid_count}}</strong>
                                    </td>
                                    <td>
                                        <strong class="subject__item__strong">ETH:</strong>
                                        <span class="subject__item__span">{{fixedETH(pair.data.sell_price.ETH)}}</span>
                                    </td>
                                    <td>
                                        <strong class="subject__item__strong">USDT:</strong>
                                        <span class="subject__item__span">{{fixedNumber(pair.data.sell_price.USDT, 5)}}</span>
                                    </td>
                                    <td>
                                        <strong class="subject__item__strong">BTC:</strong>
                                        <span class="subject__item__span">{{fixedBTC(pair.data.sell_price.BTC)}}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>

                    <div class="message__debug" v-if="isDebug">
                        {{pair.debug}}
                    </div>
                </div>

                <a
                    v-if = "Object.keys(item.data).length > 1"
                    href= "#"
                    class="message__more"
                    @click.prevent = "toggleShowMore()"
                >
                    {{showAllBtnText}}
                </a>

            </div>
    </div>
</template>

<script>
    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';
    export default {
        name: "message",
        props: {
            item: {
                type: Object,
                required: true
            },
            ignore: {
                type: Boolean,
                required: false,
                default: false
            }
        },
        created() {
            this.libraryInfo = {...this.getDataFromLibraryInfo(this.item.coin)}
        },
        data() {
            return {
                animate: false,
                showData: 'first',
                audio: new Audio('../sound/icq-aska.mp3'),
                audioDone: false,
                libraryInfo: {
                    url: '',
                    info: ''
                }
            }
        },
        computed: {
            ...mapGetters('messages', {
                    getCountMoney: 'getCountMoney',
                    getCountSuperMoney: 'getCountSuperMoney',
                    getCountMoneyPercent: 'getCountMoneyPercent',
                    getDWCacheDeposit: 'getDWCacheDeposit',
                    getDWCacheWithdrawal: 'getDWCacheWithdrawal',
                    getBalancerCache: 'getBalancerCache',
                    getDataFromLibraryInfo: 'getDataFromLibraryInfo'
                } 
            ),
            ...mapGetters('global', {
                    isDebug: 'getDebug'
                } 
            ),
            startAnimate() {
                if(this.animate) {
                    setTimeout(()=>{
                        this.animate = false
                    }, 1000);
                    return this.animate ? 'update-messaage' : ''
                }
            },
            convertDataToArray() {
                this.animate = true;
                let array = [];
                for(let i in this.item.data) {
                    array.push(this.item.data[i])
                }
                return array
            },
            sortDataByMoney() {
                let array = this.convertDataToArray;
                return array.sort((a, b) => {
                    if(a.data.money < b.data.money) return 1;
                    else return -1;
                })
            },
            getDataForShow() {
                if(this.showData === 'first' && this.sortDataByMoney.length > 1) {
                    return [this.sortDataByMoney[0]]
                } else {
                    return this.sortDataByMoney
                }
            },
            showAllBtnText() {
                return this.showData === 'first' ? `Show more (${this.sortDataByMoney.length - 1})` : 'Hide';
            }
        },
        methods: {
            ...mapActions('messages', {
                moveToBottom: 'moveMessageToBottom',
                moveToTop: 'moveMessageToTop',
                moveMessage: 'moveMessage'
            }),
            profitClass(money, volume) {
                let countSuperMoney = Number(this.getCountSuperMoney),
                    countMoney = Number(this.getCountMoney),
                    countPercent = this.getCountMoneyPercent;

                if((money/volume >= countPercent) && (countSuperMoney != 0 || countMoney != 0 || countPercent != 0)) {
                    if (money >= countSuperMoney) {
                        this.audioPlay();
                        return 'subject-superprofit'
                    } else if(money >= countMoney) {
                        return 'subject-profit'
                    }
                }
            },
            dwCheckerClass(val) {
                let result;
                switch(val) {
                    case true:
                        result = 'color-green';
                        break;
                    case false: 
                        result = 'color-red';
                        break;
                    default:
                        result = 'color-black';
                        break;
                }
                return result;
            },
            fixedNumber(num, count) {
                return +num.toFixed(count)
            },
            fixedETH(num) {
                return num.toExponential(2)
            },
            fixedBTC(num) {
                let f = num.toFixed(8) * 100000000;
                return Math.trunc(f);
            },
            toggleShowMore() {
                return this.showData === 'first' ? this.showData = 'all' : this.showData = 'first'
            },
            timeReFormat(timestamp) {
                let newDate = new Date(timestamp*1000),
                        hours = newDate.getHours(),
                        minutes = '0' + newDate.getMinutes(),
                        seconds = '0' + newDate.getSeconds();
                return `${hours}:${minutes.substr(-2)}:${seconds.substr(-2)}`;
            },
            cutURL(url) {
                return url.replace(/(https?:\/\/(www\.)?)|(www\.?)/, '')
            },
            // moveMessage(e) {
            //     this.moveMessage({
            //         coin: e.ignoreCoin.toUpperCase(),
            //         exchange: e.ignoreExchange,
            //         action: 'ignore'
            //     });
            // },
            audioPlay() {
                if(!this.audioDone && !this.ignore) {
                    this.audio.play();
                    this.audioDone = true;
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .message {
        border: 2px solid $blue;
        margin-bottom: $offset * 2 + px;
        position: relative;
        &__header {
            background: $blue;
            padding: 0 $offset - 2px 2px;
            font-size: $font-size-xl;
            color: $white;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            strong {
                text-transform: uppercase;
                margin-right:15px;
            }
            i {
                color: $yellow;
                vertical-align: middle;
                font-size: 14px;
                cursor: default;
                font-weight: 600;
            }
			&__link {
                padding-top: 0;
                display: inline-block;
                height: 20px;
                width: 20px;
                cursor: pointer;
                float: right;
                svg {
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    svg {
                        path {
                            fill: $grey;
                        }
                    }
                }
                &.is-disabled {
                    cursor: not-allowed;
                    svg {
                        path {
                            fill: $dgrey;
                        }
                    }
                }
			}
        }
        &__body {
            padding: 3px 3px 0;
        }
        // &__subject {

        // }
        &__more {
            background: $lred;
            color: #ffffff;
            display: inline-block;
            width: 100%;
            padding: $baseoffset 0;
            text-decoration: none;
            text-align: center;
            margin-bottom: 3px;
            text-transform: uppercase;
            &:hover {
              background: $red;
            }
        }
        &__debug {
            border-top: 1px solid $blue;
            padding: $baseoffset;
            background: $lblue;
        }
        &__switch {
            float: left;
        }
    }
    .subject {
        border: 1px solid $blue;
        margin-bottom: 3px;
        background: $lblue;
        &-profit {
            background: $profitbg;
            border-color: $profit;
            .subject__header {
                background: $profit;
            }
        }
        &-superprofit {
            background: $superprofitbg;
            border-color: $superprofit;
            .subject__header {
                background: $superprofit;
            }
        }
        &__header {
            background: $blue;
            color: $white;
            cursor: pointer;
            display: flex;
            width: 100%;
            justify-content: space-between;
            line-height: 1;
            strong {
                margin-right: 15px;
                font-weight: 600;
            }
            a {
                color: $grey;
                &:hover {
                    text-decoration: none;
                    color: $white;
                }
            }
        }
        &__info {
            width: 100%;
            padding: $baseoffset;
            i {
                float: right;
                color: #ffffff;
                font-weight: 600;
            }
        }
        &__anticalc {
            padding: $baseoffset;
        }
        &__body {
            padding: 13px $baseoffset 0;
        }
        &__block {
            margin-bottom: $baseoffset;
            &-links {
                .subject__item__key {
                    width: 27px;
                }
                .subject__item__value,
                .subject__item__checker,
                .subject__item__ignore {
                    vertical-align: middle;
                }
            }
            &-volume {
                .subject__item__key {
                    width: 60px;
                    &_long {
                        width: 40px;
                            margin-left: 15px;
                    }
                }
            }
            &-price {
                .subject__item__key {
                    width: 27px;
                }
            }
        }
        &__link {
            display: inline-block;
            width: 100%;
            font-size: 11px;
            &:hover {
                text-decoration: none;
            }
        }
        &__item {
            display: inline-block;
            width: 100%;
            margin-bottom: $baseoffset;

            &__key {
                display: inline-block;
            }
            &__checker {
                display: inline-block;
            }
            &__value{
                display: inline-block;
            }
            &__strong {
                font-weight: 600;
            }
            &__ignore {
                display: inline-block;
                height: 12px;
                width: 12px;
                font-size: 0;
                &:hover {
                    svg {
                        path,
                        rect {
                            fill: $lblue;
                        }
                    }
                }
                svg{
                    height: 100%;
                    width: 100%;
                    path,
                    rect {
                        fill: $blue;
                        transition: .2s linear;
                    }
                }
            }
        }
        &__table {
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
        }
        &__footer {
            padding: 0 10px 10px;
        }
    }
</style>