<template>
    <div class="config">
        <a href="#" 
			class="config__close"
			@click.prevent="hideConfig"
		>
			<img src="../assets/img/close.svg" 
                alt="Close config"
            >
		</a>
        <h2 class="config__title">
            Config
        </h2>
        <template>
            <div class="config__block">
                <formInput
                    :options="countMoneyForm"
                    @form-submit="submitMoneyForm($event)"
                ></formInput>
            </div>
            <div class="config__block">
                <formInput
                    :options="countSuperMoneyForm"
                    @form-submit="submitSuperMoneyForm($event)"
                ></formInput>    
            </div>
            <div class="config__block">
                <formInput
                    :options="countMoneyPercentForm"
                    @form-submit="submitMoneyPercent($event)"
                ></formInput>    
            </div>
            <hr/>
        </template>
        <template>
            <div class="config__block">
                <div class="config__subtitle">Update exchange setting</div>
                <div v-for="group in getUpdater"
                    :key=group.name
                    class="config__radio radio"
                >
                    <input 
                        class="radio__input" 
                        type="radio" 
                        name="update-group" 
                        :value=group.name 
                        :id="`${group.name.replace(' ', '-')}-id`"
                        :checked="group.name === getActiveGroup.name"
                        @change=changeActiveGroup(group.name)
                    >
                    <label class="radio__label" :for="`${group.name.replace(' ', '-')}-id`">{{group.name}}</label>
                    <div class="radio__check"></div>
                </div>
            </div>
            <hr/>
        </template>
        <template v-if=isDebug>
            <div class="config__block">
                <formInput
                    :options=socketURLForm
                    @form-submit="setSocketURL($event)"
                ></formInput>    
            </div>
            <div class="config__block">
                <formInput
                   :options=DWURLForm
                    @form-submit="setDWCheckerURL($event)"
                ></formInput>    
            </div>
            <div class="config__block">
                <formInput
                   :options=BalancerURLForm
                    @form-submit="setBalancerURL($event)"
                ></formInput>    
            </div>
            <div class="config__block">
                <formInput
                   :options=LibraryURLForm
                    @form-submit="setLibraryURL($event)"
                ></formInput>    
            </div>
            <hr/>
        </template>
        
        <div class="config__bottom">
            <div class="config__block">
                <div class="upload">
                    <input type='file' id="background-input" class="upload__input" @change=setBG($event)>
                    <label for="background-input" class="upload__label btn">Change background</label>
                </div>
            </div>
        </div>   
    </div>
</template>

<script>
    import formInput from '../components/AppForm.vue';

    import {mapActions} from 'vuex';
    import {mapGetters} from 'vuex';

    export default {
        data() {
            return {
                countMoneyForm: [
                    {
                        name: 'countMoney',
                        label: 'Money',
                        type: 'number',
                        step: 0.01
                    }
                ],
                countSuperMoneyForm: [
                    {
                        name: 'countSuperMoney',
                        label: 'Super Money',
                        type: 'number',
                        step: 0.01
                    }
                ],
                countMoneyPercentForm: [
                    {
                        name: 'countMoneyPercent',
                        label: 'Money / Volume',
                        type: 'number',
                        step: 0.001
                    }
                ],
                socketURLForm: [
                    {
                        name: 'SocketURL',
                        label: 'Socket URL <i>ws://nerfbear.com:15678</i>',
                        type: 'text'
                    }
                ],
                DWURLForm: [
                    {
                        name: 'DWURL',
                        label: 'Deposit Withdrawal URL <i>http://quoshkqua.com:55555/assetInfo</i>',
                        type: 'text'
                    }
                ],
                BalancerURLForm: [
                    {
                        name: 'BalancerURL',
                        label: 'Balancer URL <i>http://quoshkqua.com:44441/labustoken</i>',
                        type: 'text'
                    }
                ],
                LibraryURLForm: [
                    {
                        name: 'LibraryURL',
                        label: 'Library URL <i>http://35.228.25.41:5001/info</i>',
                        type: 'text'
                    }
                ]
            }
        },
        components: {
            formInput
        },
        mounted() {
            let countMoney = localStorage.getItem('countMoney') || 0;
            this.$set(this.countMoneyForm[0], 'value', countMoney);
            this.changeCountMoney(countMoney);

            let countSuperMoney = localStorage.getItem('countSuperMoney') || 0;
            this.$set(this.countSuperMoneyForm[0], 'value', countSuperMoney);
            this.changeCountSuperMoney(countSuperMoney);

            let countMoneyPercent = localStorage.getItem('countMoneyPercent') || 0;
            this.$set(this.countMoneyPercentForm[0], 'value', countMoneyPercent);
            this.changeCountMoneyPercent(countMoneyPercent);

            this.$set(this.socketURLForm[0], 'value', this.getSocketURL);
            this.$set(this.DWURLForm[0], 'value', this.getDWCheckerURL);
            this.$set(this.BalancerURLForm[0], 'value', this.getBalancerURL);
            this.$set(this.LibraryURLForm[0], 'value', this.getLibraryURL);


            let bgStorage = localStorage.getItem('background') || '#101721';
            this.changeBackground(bgStorage);
        },
        computed: {
            ...mapGetters('messages', {
                getCountMoney: 'getCountMoney',
                getCountSuperMoney: 'getCountSuperMoney',
                getCountMoneyPercent: 'getCountMoneyPercent'
            }),
            ...mapGetters('global', {
                getSocketURL: 'getSocketURL',
                getDWCheckerURL: 'getDWCheckerURL',
                getBalancerURL: 'getBalancerURL',
                getLibraryURL: 'getLibraryURL',
                isDebug: 'getDebug'
            }),
            ...mapGetters('updater', {
                getUpdater: 'getUpdater',
                getActiveGroup: 'getActiveUpdater'
            })
        },
        methods: {
            ...mapActions('messages', {
                changeCountMoney: 'changeCountMoney',
                changeCountSuperMoney: 'changeCountSuperMoney',
                changeCountMoneyPercent: 'changeCountMoneyPercent',
                socketRemove: 'socketRemove',
                socketCreate: 'socketCreate',
                requestLibrary: 'requestLibrary'
            }),
			...mapActions('global', {
                changeBackground: 'changeBackground',
                changeSocketURL: 'changeSocketURL',
                changeDWCheckerURL: 'changeDWCheckerURL',
                changeBalancerURL: 'changeBalancerURL',
                changeLibraryURL: 'changeLibraryURL'
            }),
            ...mapActions('updater', {
                changeActiveGroupInStore: 'changeActiveGroup'
            }),
            submitMoneyForm(e) {
                localStorage.setItem('countMoney', e.countMoney);
                this.changeCountMoney(e.countMoney);
            },
            submitSuperMoneyForm(e) {
                localStorage.setItem('countSuperMoney', e.countSuperMoney);
                this.changeCountSuperMoney(e.countSuperMoney);
            },
            submitMoneyPercent(e) {
                localStorage.setItem('countMoneyPercent', e.countMoneyPercent);
                this.changeCountMoneyPercent(e.countMoneyPercent);
            },
            setSocketURL(e) {
                localStorage.setItem('debug_url', e.SocketURL);
                this.changeSocketURL(e.SocketURL);
                this.socketCreate(e.SocketURL);
            },
            setDWCheckerURL(e) {
                localStorage.setItem('dwchecker_url', e.DWURL);
                this.changeDWCheckerURL(e.DWURL);
            },
            setBalancerURL(e) {
                localStorage.setItem('balancer_url', e.BalancerURL);
                this.changeBalancerURL(e.BalancerURL);
            },
            setLibraryURL(e) {
                localStorage.setItem('library_url', e.LibraryURL);
                this.changeLibraryURL(e.LibraryURL);
            },
            setBG(e) {
				var file = e.target.files[0];
				var reader = new FileReader();
				reader.onloadend = () => {
                    //document.body.style('background', 'url'+reader.result)
                    localStorage.setItem('background', `url(${reader.result})`)
					this.changeBackground(`url(${reader.result})`)
				}
				reader.readAsDataURL(file);
            },
            changeActiveGroup(name) {
                this.changeActiveGroupInStore(name);
                localStorage.setItem('active-group', name);
            },
            hideConfig() {
                this.$emit('close', 'message');
            }
        }
    }
</script>

<style scoped lang="scss">
    
</style>