<template>
	<div class="wrapper">
    <div class="overlay"></div>
    <header>
        <AppHeader></AppHeader>
    </header>
    <main>
        <router-view></router-view> 
    </main>
	</div>
</template>

<script>
import AppHeader from './components/AppHeader.vue';
export default {
  name: 'app',
  components: {
     AppHeader
  },
  data () {
    return {

    }
  }
}
</script>

<style lang="scss">
@import "assets/css/main";
</style>
